<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan Your Trip</title>

    <!-- ‌‌ BootStrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="style.css"><link>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

</head>
<body>
<div class="backgroundImage">

    <div class="aboutUsContainer">
        <div class="aboutTitle sadgan">Plan Your Trip!
            <hr class="horizontalRule">
        </div>


        <div class="aboutBody iranSans" style="padding-top:40px; margin-right:5%; margin-left:5%;">
            <form>

                <div class="form-group row" style="margin-top:25px;">
                    <label for="inputUsername3" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUsername3" placeholder="Username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>


                <div class="detailsTitle1 sadgan">1- Choose Time of Your Trip:
                    <hr class="detailHorizontalRule">
                </div>

                <div style="display: flex; justify-content: space-between; width: 80%; margin: auto; padding-top: 30px;">
                    <div>
                        <label for="start">Start Date:</label>
                        <input type="date" id="start" name="start">
                    </div>

                    <div>
                        <label for="end">End Date:</label>
                        <input type="date" id="end" name="end">
                    </div>
                </div>


                <div class="detailsTitle sadgan" style="padding-top: 100px;">
                    <div>
                        2- Choose ِYour Medical Service:
                    </div>
                    <div>
                        0 $
                    </div>

                </div>
                <hr class="detailHorizontalRule">

                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="margin-top: 20px; width: 60%;  border-radius: 7px; text-align: center; vertical-align: center; height: 35px;">
                    <option style="width: 100%;" selected>Select Medical Service City</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div style="display: flex; justify-content: space-between; width: 80%; margin: auto; padding-top: 10px;">

                    <div style="width: 48%;">
                        <select class="form-select selectForm" aria-label="Default select example">
                            <option selected>Select Hospital</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div style="width: 48%;">
                        <select class="form-select selectForm" aria-label="Default select example">
                            <option selected>Select Medical Service</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>



                <div class="detailsTitle sadgan" style="padding-top: 100px;">
                    <div>
                        3- Choose ِYour Tourism Services:
                    </div>
                    <div>
                        0 $
                    </div>
                </div>
                <hr class="detailHorizontalRule">

                <div style="display: flex; justify-content: space-between; width: 80%; margin: auto; padding-top: 10px;">

                    <div style="width: 48%;">
                        <select class="form-select selectForm" aria-label="Default select example">
                            <option selected>Select Tourism Service City</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div style="width: 48%;">
                        <select class="form-select selectForm" aria-label="Default select example">
                            <option selected>Select Tourism Service</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div style="margin-top: 20px; margin-bottom: 30px;">
                    <label for="points" class="formLabel">Number of Travellers</label><br>
                    <div>
                        <div style="width: 95%; padding-left: 20px;">
                            <input type="number" id="points" name="points" step="1" class="formInput" min="0" max="20" value="0" style="width: 40%;"><br>
                        </div>
                        <div class="col-auto my-6" style="margin-top:60px;">
                            <button type="submit" class="addTourBtn btn btn-success" style="width:80%;" id="addTourButton">Add Tour</button>
                            <script type="text/javascript">

                                document.getElementById("addTourButton").addEventListener("click", insertAfter);

                                function insertAfter() {
                                    var newNode = document.createElement("span");
                                    el.innerHTML = "test";
                                    var referenceNode = document.getElementById("tourCardsContainer");
                                    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
                                }


                                // insertAfter(div, el);


                                function addTour() {

                                    document.getElementById("tourCardsContainer").insertBefore();
                                }

                                // $(document).ready(function(){
                                //     console.log("1111")
                                //     $(".addTourBtn").on("click",function(){
                                //
                                //         $("div:last").after("<div class=item><p>Title</p></div>");
                                //        console.log("hiilkli")
                                //     })
                                //
                                // })
                            </script>
                        </div>
                    </div>

                </div>
                <div id="tourCardsContainer">
                    <div class="listCard shadowBehind">
                        <div>
                            <div class="cardText">City</div>
                            <hr class="detailHorizontalRule">
                            <div class="cardText2">Tehran</div>
                        </div>
                        <div>
                            <div class="cardText">Tourism Services</div>
                            <hr class="detailHorizontalRule">
                            <div class="cardText2">1 Day Around City</div>
                        </div>
                        <div>
                            <div class="cardText">Num</div>
                            <hr class="detailHorizontalRule">
                            <div class="cardText2">3</div>
                        </div>
                        <div>
                            <div class="cardText">Expenses</div>
                            <hr class="detailHorizontalRule">
                            <div class="cardText2">200$</div>
                        </div>

                        <div class="trashBtnContainer">
                            <input type="image" src="images/trash_icon.png" name="saveForm" class="btTxt submit trashBtn" id="saveForm" />
                        </div>
                    </div>
                </div>



                <div class="detailsTitle sadgan" style="padding-top: 100px;">
                    <div>
                        4- Choose ِYour Hotel to Stay:
                    </div>
                    <div>
                        0 $
                    </div>
                </div>
                <hr class="detailHorizontalRule">

                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="margin-top: 20px; width: 60%;  border-radius: 7px; text-align: center; vertical-align: center; height: 35px;">
                    <option style="width: 100%;" selected>Select City</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div style="display: flex; justify-content: space-between; width: 80%; margin: auto; padding-top: 10px;">

                    <div style="width: 48%;">
                        <select class="form-select selectForm" aria-label="Default select example">
                            <option selected>Select Hotel</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div style="width: 48%;">
                        <select class="form-select selectForm" aria-label="Default select example">
                            <option selected>Select Your Room Plan</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>


                <div style="display: flex; justify-content: space-between; margin-top: 30px; width: 50%; margin-right: auto; margin-left: auto;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Breakfast
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Lunch
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Dinner
                        </label>
                    </div>
                </div>


                <div style="margin-top: 20px; margin-bottom: 30px;">
                    <label for="points" class="formLabel">Number of Travellers</label><br>
                    <div>
                        <div style="width: 95%; padding-left: 20px;">
                            <input type="number" id="points2" name="points" step="1" class="formInput" min="0" max="20" value="0" style="width: 40%;"><br>
                        </div>
                        <div class="col-auto my-6" style="margin-top:60px;">
                            <button type="submit" class="addTourBtn btn btn-success" style="width:80%;">Add Hotel</button>
                        </div>
                    </div>

                </div>


                <div class="detailsTitle sadgan" style="padding-top: 100px;">
                    <div>
                        5- Choose ِYour Transportation Methods:
                    </div>
                    <div>
                        0 $
                    </div>
                </div>
                <hr class="detailHorizontalRule">

                <div style="display: flex; justify-content: space-between; width: 80%; margin: auto; padding-top: 10px; margin-top: 20px;" >

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Plane
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Train
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Bus
                        </label>
                    </div>
                </div>

                <div class="form-check form-switch" style="margin-top: 25px;">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">VIP Service</label>
                </div>




                <div class="form-floating" style="padding-top: 65px;">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                </div>


                <div class="col-auto my-10" style="margin-top:60px;">
                    <button type="submit" class="btn btn-primary" style="width:80%;">Submit</button>
                </div>

            </form>

        </div>


        <!--        <img src="images/tehran_header.png" style="width: 100%; height: 200px; bottom: 0;"/>-->
    </div>


</div>
</body>
</html>