<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Complex|Hotel</title>

    <!-- ‌‌ BootStrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="style.css"><link>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico"/>
</head>
<body style="width: 100%;">

<div class="navbarContainer topNavbar">
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="../images/health.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Health Complex
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Medical Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Medical</a>
                        <a class="dropdown-item" href="#">Cosmetic</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tourism Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="bodyContainer">



    <div class="cardsContainer mainBackgroundContainer" style="align-content: center;">
        <img src="../images/espinas_palace.jpg" class="mainBackground"/>


        <!--            <div class="titleContainer">TOP MEDICAL CENTERS-->
        <!--                <hr class="horizontalRule">-->
        <!--            </div>-->

        <!--            <div class="detailContainer">Best Historical and Tourism Cities<br>– they are very popular from around the world!</div>-->

        <div class="boxContainer marginContainer shadowBehind">

            <div class="citiesHeader" style="margin-top: 0px; width: 70%; margin-right: auto; margin-left: auto;text-align: center; color: #66bb6a; font-family: belleza; font-size: 33px; font-weight: bold;">
                ESPINAS PALAS HOTEL
                <div style="margin-top: 20px; display: flex; justify-content: center;">
                    <img src="images/star_hotel.png" class="stars">
                    <img src="images/star_hotel.png" class="stars">
                    <img src="images/star_hotel.png" class="stars">
                    <img src="images/star_hotel.png" class="stars">
                    <img src="images/star_hotel.png" class="stars">
                </div>
            </div>

            <div class="citiesHeader" style="margin-top: 25px; width: 70%; margin-right: auto; margin-left: auto;text-align: left; color: #ff7043; font-family: belleza; font-size: 25px;">ABOUT IT?!</div>
            <div style="width: 70%; margin-right: auto; margin-left: auto; margin-top: 5px;">
                There are plenty of palaces and museums to satisfy your historical requirements as well as a hip art and cafe scene to make you re-evaluate everything you thought you knew about Iranians. And when you’ve had enough city chaos, look no further than the northern Darband or Tochal neighborhoods for a quick escape into some pleasant nature.</p>
            </div>
            <div class="citiesHeader" style="margin-top: 35px; width: 70%; margin-right: auto; margin-left: auto;text-align: left; color: #ff7043; font-family: belleza; font-size: 25px;">ROOM PLANS</div>


            <div style="width: 70%; margin-right: auto; margin-left: auto; margin-top: 5px;">
                <div class="treatmentContainer">

                    <div class="treatmentCardsContainer">
                        <button type="button" class="treatmentButton treatmentBtn">1 Bed, 1 Night<br>100$</button>
                        <button type="button" class="treatmentButton treatmentBtn">1 Bed, 3 Nights<br>300$</button>
                        <button type="button" class="treatmentButton treatmentBtn">2 Bed, 2 Nights<br>400$</button>
                        <button type="button" class="treatmentButton treatmentBtn">2 Beds, 3 Nights<br>600$</button>
                        <button type="button" class="treatmentButton treatmentBtn">4 Beds, 3 Nights<br>1000$</button>
                    </div>

                    <div class="treatmentCardsContainer">
                        <button type="button" class="treatmentButton treatmentBtn">2 Beds, 3 Nights(VIP)<br>900$</button>
                        <button type="button" class="treatmentButton treatmentBtn">2 Beds, 4 Nights(VIP)<br>1600$</button>
                        <button type="button" class="treatmentButton treatmentBtn">4 Beds, 3 Nights(VIP)<br>1800$</button>
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>


</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" src="script.js"></script>
</body>
</html>