<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../libs/jquery-3.5.1.js"></script>
    <script src="../request.js"></script>
    <script>
        data=sendAjaxRequest("GET","http://localhost//HealthComplex_Project/Controller/mainController.php/authAdmin",null);
        if(data!="ok") window.location.replace("../../index.html");
    </script>
</head>
<body>
reza is the man of focus!

<script src="../../libs/jquery-3.5.1.js"></script>
</body>
</html>