<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Complex|Plan Your Trip</title>

    <!-- ‌‌ BootStrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="../style.css"><link>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico"/>

    <title>Plan Your Trip</title>
</head>
<body>
<div class="backgroundImage">

    <div class="aboutUsContainer">
        <div class="aboutTitle sadgan">Plan Your Trip!
            <hr class="horizontalRule">
        </div>


        <div class="aboutBody iranSans" style="padding-top:0px; margin-right:5%; margin-left:5%;">
            <form>

                <div class="detailsTitle sadgan" style="padding-top: 50px;">
                    <div>
                        5- Choose ِYour Transportation Methods:
                    </div>
                    <div>
                        0 $
                    </div>
                </div>
                <hr class="detailHorizontalRule">

                <div style="display: flex; justify-content: space-between; width: 80%; margin: auto; padding-top: 10px; margin-top: 20px;" >

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Plane
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Train
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Bus
                        </label>
                    </div>
                </div>

                <div class="form-check form-switch" style="margin-top: 25px;">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">VIP Service</label>
                </div>




                <div class="form-floating" style="padding-top: 65px;">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                </div>


                <div style="margin-top: 80px;  width: 80%; margin-right: auto; margin-left: auto;">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>

                    <div style="margin-top: 40px; display: flex; justify-content: space-between;">
                        <input  class="btn btn-primary" style="width:100px; height: 45px; border-bottom-left-radius: 15px; border-top-left-radius: 15px;" onclick="location.href = '../Step_4/index.html';" value="Back">
                        <div style="margin-bottom: 25px;">Step 5/5</div>
                        <input  class="btn btn-primary" style="width:100px; height: 45px; border-bottom-right-radius: 15px; border-top-right-radius: 15px; visibility: hidden;" value="Next">
                    </div>

                </div>

                <div class="col-auto my-10" style="margin-top:60px;">
                    <button type="submit" class="btn btn-primary" style="width:80%;">Submit</button>
                </div>

            </form>

        </div>


        <!--        <img src="images/tehran_header.png" style="width: 100%; height: 200px; bottom: 0;"/>-->
    </div>


</div>
</body>
</html>